@model CommonService.ViewModels.UserListModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-7">
                    <h2>User Management</h2>
                    <ul class="breadcrumb">                        
                        <li class="breadcrumb-item"><a href="index.html">View</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> All Users </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                <table class="table table-bordered table-striped table-hover dataTable js-basic-example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Mobile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Mobile</th>
                            <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.UserList)
                                {
                                    <tr>
                                        <td>@item.Name.</td>
                                        <td>@item.Surname</td>
                                        <td>@item.Username</td>
                                        <td>@item.Rolename</td>
                                        <td>@item.Mobile</td>
                                        <td>
                                    <a href="/User/Edit/@item.Id" class="btn btn-sm btn-secondary"><i class="material-icons">edit</i>&nbsp Edit</a>
                                </td>
                                </tr>
                                }
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>

