@model CommonService.RequestModel.CompanyNewsArticleRequestModel
@{
    ViewData["Title"] = "Add News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
            <h2>Add News</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Company")">Company</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("CompanyVideo", "Company")">Company News</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("AddUpdateCompanyVideo", "Company")">Add News</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Add News</h2>
            </div>
            <div class="body">
                <form id="addTeamform" asp-controller="Company" asp-action="AddUpdateCompanyNews">
                   
                        <div class="row col-md-12">

                            <div class="col-md-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select asp-for="CompanyId" name="CompanyId" class="show-tick">
                                        <option value="">Select Company</option>
                                        @foreach (var company in @ViewBag.Companies)
                                        {
                                            <option value="@company.Value">@company.Text</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                    <input asp-for="NewsTitle" type="text" class="form-control" name="NewsTitle" required>
                                    <label class="form-label">News Title</label>
                                    </div>
                                <span asp-validation-for="NewsTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                    <input asp-for="NewsDesc" type="text" class="form-control" name="NewsDesc">
                                    <label class="form-label">News Description</label>
                                    </div>
                                <span asp-validation-for="NewsDesc" class="text-danger"></span>
                                </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="NewsUrl" type="text" class="form-control" name="NewsUrl">
                                    <label class="form-label">News Url</label>
                                </div>
                                <span asp-validation-for="NewsUrl" class="text-danger"></span>
                            </div>
                             
                            </div>
                           
                            </div>
                         
                    <button class="btn btn-raised btn-primary waves-effect" type="submit">SUBMIT</button>

                </form>
            </div>
        </div>
    </div>
</div>
 