@model CommonService.RequestModel.CompanyEventRequestModel
@{
    ViewData["Title"] = "Edit Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
            <h2>Edit Event</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Company")">Company</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Event", "Company")">Company Event</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("EditCompanyEvent", "Company")">Edit Event</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Edit Event</h2>
            </div>
            <div class="body">
                <form id="addTeamform" asp-controller="Company" asp-action="AddUpdateCompanyEvent">
                    <input type="hidden" id="Id" name="Id" asp-for="Id" />

                    <div class="row col-md-12">



                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div>
                                    <img id="img" style="width:250px; height:170px;" />
                                    <div class="fallback">
                                        <input name="file" id="imageEventImage" type="file" multiple />
                                        <input type="hidden" id="EventImage" name="EventImage" asp-for="EventImage" />
                                    </div>
                                </div>
                                <label class="form-label">Event Image</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="EventTitle" type="text" class="form-control" name="EventTitle">
                                    <label class="form-label">Event Title</label>
                                </div>
                                <span asp-validation-for="EventTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group form-float">

                                <div class="form-line">
                                    <select asp-for="CompanyId" name="CompanyId" class="show-tick" required>
                                        <option value="">Select Company</option>
                                        @foreach (var company in @ViewBag.Companies)
                                        {
                                            <option value="@company.Value">@company.Text</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="StartDate" type="date" class="form-control" name="StartDate">
                                    <label class="form-label">Start Date</label>
                                </div>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="StartTime" type="time" class="form-control" name="StartTime">
                                    <label class="form-label">Start Time</label>
                                </div>
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="EventUrl" type="text" class="form-control" name="EventUrl">
                                    <label class="form-label">EventUrl</label>
                                </div>
                                <span asp-validation-for="EventUrl" class="text-danger"></span>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select asp-for="EventTypeId" name="EventTypeId" class="show-tick">
                                        <option value="">Select Event</option>
                                        @foreach (var evnt in @ViewBag.EventType)
                                        {
                                            <option value="@evnt.Value">@evnt.Text</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="EventTypeId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-12">



                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="EndDate" type="date" class="form-control" name="EndDate">
                                    <label class="form-label">End Date</label>
                                </div>
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="EndTime" type="time" class="form-control" name="EndTime">
                                    <label class="form-label">End Time</label>
                                </div>
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="EventLocationUrl" type="text" class="form-control" name="EventLocationUrl">
                                    <label class="form-label">Event LocationUrl</label>
                                </div>
                                <span asp-validation-for="EventLocationUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line focused">
                                    <input asp-for="EventDesc" type="text" class="form-control" name="EventDesc">
                                    <label class="form-label">Event Desc</label>
                                </div>
                                <span asp-validation-for="EventDesc" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <button class="btn btn-raised btn-primary waves-effect" type="submit">SUBMIT</button>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#img').attr('src', '@Model.DisplayEventImage');

            uploadEventImage();
        });

        function uploadEventImage() {
            $('#imageEventImage').change(function () {
                var formdata = new FormData();
                var fileInput = document.getElementById('imageEventImage');
                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                formdata.append("imgtype", "EventImage");
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(fileInput.files[0]);
                }
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Upload/Upload');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        $('#EventImage').val(JSON.parse(xhr.responseText)[0]);
                    }
                }
                return "";
            });

        }

    </script>
    }
