@using TTBusinessAdminPanel.Extensions
@model CommonService.RequestModel.CompanyBannerRequestModel

@{
    ViewData["Title"] = "Edit Banner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-10 col-md-10 col-sm-10 float-left">
                <h2>Company Management</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Company</li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Company")">Premium Companies</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Banner", "Company")">All Banners</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("EditCompanyBanner", "Company", new {id=Model.Id})">Edit Banner</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Add Banner Details</h2>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <form asp-controller="Company" asp-action="AddUpdateCompanyBanner">
                            <input type="hidden" id="Id" name="Id" asp-for="Id" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        @*  <div class="form-line">
                                        <select asp-for="CompanyId" name="CompanyId" class="show-tick" required>
                                        <option value="">Select Company</option>
                                        @foreach (var company in @ViewBag.Companies)
                                        {
                                        <option value="@company.Value">@company.Text</option>
                                        }
                                        </select>
                                        </div>
                                        <span asp-validation-for="CompanyId" class="text-danger"></span>*@
                                        <div class="form-line focused">
                                            <input type="text" class="form-control" id="companyname" name="companyname">
                                            <label class="form-label">Company Name</label>
                                        </div>
                                        <input type="hidden" id="CompanyId" name="CompanyId" asp-for="CompanyId" />
                                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line focused">
                                            <input asp-for="BannerNameEng" type="text" class="form-control" name="BannerNameEng" required>
                                            <label class="form-label">Banner Name</label>
                                        </div>
                                        <span asp-validation-for="BannerNameEng" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line focused">
                                            <input asp-for="BannerStartDate" type="date" class="form-control" name="BannerStartDate">
                                            <label class="form-label">Banner Start Date</label>
                                        </div>
                                        <span asp-validation-for="BannerStartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line focused">
                                            <input asp-for="BannerExpiryDate" type="date" class="form-control" name="BannerExpiryDate">
                                            <label class="form-label">Banner Expiry Date</label>
                                        </div>
                                        <span asp-validation-for="BannerExpiryDate" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-float">
                                        <div>
                                            <img id="imgeng" style="width:250px; height:170px;" />
                                            <div class="fallback">
                                                <input name="file" id="imageEnginput" type="file" />
                                                <input type="hidden" id="ImageEng" name="ImageEng" asp-for="ImageEng" />
                                            </div>
                                        </div>
                                        <label class="form-label">Banner Image</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line focused">
                                            <input asp-for="EnglishUrl" type="text" class="form-control" name="EnglishUrl">
                                            <label class="form-label">Url</label>
                                        </div>
                                        <span asp-validation-for="EnglishUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-float">
                                        <input type="checkbox" asp-for="IsPublished" id="IsPublished" name="IsPublished">
                                        <label for="IsPublished" class="form-label">IsPublished</label>
                                    </div>
                                    <span asp-validation-for="IsPublished" class="text-danger"></span>
                                </div>
                            </div>

                            <button class="btn btn-raised btn-primary waves-effect" style="float:right" type="submit">SUBMIT</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            var cname = '@ExtensionHelper.GetSession("Companyname")';
            if (cname) {
                var cid = @ExtensionHelper.GetSession("CompanyMasterId");
                $("#CompanyId").val(cid);
                $('#companydiv').addClass('focused');
                $("#companyname").prop("disabled", true);
                $('#companyname').val(cname);
            }
            $('#imgeng').attr('src', '@Model.DisplayEngImage');
            $("#companyname").val('@Model.CompanyName');

            uploadEngImage();
            uploadArbImage();
            AutofillCompany();
        });

        function uploadEngImage() {
            $('#imageEnginput').change(function () {
                var formdata = new FormData();
                var fileInput = document.getElementById('imageEnginput');
                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                formdata.append("imgtype", "BannerEng");
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imgeng').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(fileInput.files[0]);
                }
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Upload/Upload');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        $('#ImageEng').val(JSON.parse(xhr.responseText)[0]);
                    }
                }
                return "";
            });

        }

        function AutofillCompany() {
            $("#companyname").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Company/SearchCompany",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                var AC = new Object();
                                AC.label = item.nameEng;
                                AC.value = item.nameEng;
                                AC.id = item.id;
                                return AC
                            }))

                        }
                    })
                },
                select: function (e, i) {
                    $("#CompanyId").val(i.item.id);
                },
                minLength: 1
            });
        }
    </script>
    }