@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Category","Company")" class="btn btn-small">Category</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Brand","Company")" class="btn btn-small">Brand</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Product","Company")" class="btn btn-small">Products</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Service","Company")" class="btn btn-small">Services</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Banner","Company")" class="btn btn-small">Banner</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("CompanyVideo","Company")" class="btn btn-small">Video</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("CompanyTeam","Company")" class="btn btn-small">Team</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("CompanyAddress","Company")" class="btn btn-small">Address</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("CompanyAward","Company")" class="btn btn-small">Awards</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("CompanyNews","Company")" class="btn btn-small">News & Articles</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("Event","Company")" class="btn btn-small">Events</a>
        </div>
    </div>
</div>